:root{
  --background: #D5BDD5;
  --black: #1D1D1D;
  --green: #91BF8F;
  --green-dark:#3C5C57;
  --red: #D33845;
  --salmon: #E9967A;
  --skin: #EAC5B3;
  --white: #F5FAEE;
}


*{
  margin: 0;
  padding: 0;
  height: 100%;
}

.docinho__container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
 }
 .docinho {
  width: 1rem;
  height: 1rem;
  background: var(--skin);
  box-shadow: 
    -17rem -17rem var(--background), -16rem -17rem var(--background),
    -15rem -17rem var(--background), -14rem -17rem var(--background),
    -13rem -17rem var(--background), -12rem -17rem var(--background),
    -12rem -17rem var(--background), -11rem -17rem var(--background),
    -10rem -17rem var(--background), -9rem -17rem var(--background),
    -8rem -17rem var(--background), -7rem -17rem var(--background),
    -6rem -17rem var(--background), -5rem -17rem var(--background),
    -4rem -17rem var(--background), -3rem -17rem var(--background),
    -2rem -17rem var(--background), -1rem -17rem var(--background),
    0rem -17rem var(--background), 1rem -17rem var(--background),
    2rem -17rem var(--background), 3rem -17rem var(--background),
    4rem -17rem var(--background), 5rem -17rem var(--background),
    6rem -17rem var(--background), 7rem -17rem var(--background),
    8rem -17rem var(--background), 9rem -17rem var(--background),
    10rem -17rem var(--background), 11rem -17rem var(--background),
    12rem -17rem var(--background), 13rem -17rem var(--background),
    14rem -17rem var(--background), 15rem -17rem var(--background),
    16rem -17rem var(--background), 17rem -17rem var(--background),

    -17rem -16rem var(--background), -16rem -16rem var(--background),
    -15rem -16rem var(--background), -14rem -16rem var(--background),
    -13rem -16rem var(--background), -12rem -16rem var(--background),
    -12rem -16rem var(--background), -11rem -16rem var(--background),
    -10rem -16rem var(--background), -9rem -16rem var(--background),
    -8rem -16rem var(--background), -7rem -16rem var(--background),
    -6rem -16rem var(--background), -5rem -16rem var(--black), 
    -4rem -16rem var(--black), -3rem -16rem var(--black), 
    -2rem -16rem var(--black), -1rem -16rem var(--black), 
    0rem -16rem var(--black), 1rem -16rem var(--black), 
    2rem -16rem var(--black), 3rem -16rem var(--background), 
    4rem -16rem var(--background), 5rem -16rem var(--background), 
    6rem -16rem var(--background), 7rem -16rem var(--background), 
    8rem -16rem var(--background), 9rem -16rem var(--background), 
    10rem -16rem var(--background), 11rem -16rem var(--background), 
    12rem -16rem var(--background), 13rem -16rem var(--background), 
    14rem -16rem var(--background), 15rem -16rem var(--background), 
    16rem -16rem var(--background), 17rem -16rem var(--background),

    -17rem -15rem var(--background), -16rem -15rem var(--background),
    -15rem -15rem var(--background), -14rem -15rem var(--background),
    -13rem -15rem var(--background), -12rem -15rem var(--background),
    -12rem -15rem var(--background), -11rem -15rem var(--background),
    -10rem -15rem var(--background), -9rem -15rem var(--background),
    -8rem -15rem var(--background), -7rem -15rem var(--black), 
    -6rem -15rem var(--black), -5rem -15rem var(--black), 
    -4rem -15rem var(--black), -3rem -15rem var(--black), 
    -2rem -15rem var(--black), -1rem -15rem var(--black), 
    0rem -15rem var(--black), 1rem -15rem var(--black), 
    2rem -15rem var(--black), 3rem -15rem var(--black), 
    4rem -15rem var(--black), 5rem -15rem var(--background), 
    6rem -15rem var(--background), 7rem -15rem var(--background), 
    8rem -15rem var(--background), 9rem -15rem var(--background), 
    10rem -15rem var(--background), 11rem -15rem var(--background), 
    12rem -15rem var(--background), 13rem -15rem var(--background), 
    14rem -15rem var(--background), 15rem -15rem var(--background), 
    16rem -15rem var(--background), 17rem -15rem var(--background),

    -17rem -14rem var(--background), -16rem -14rem var(--background),
    -15rem -14rem var(--background), -14rem -14rem var(--background),
    -13rem -14rem var(--background), -12rem -14rem var(--background),
    -12rem -14rem var(--background), -11rem -14rem var(--background),
    -10rem -14rem var(--background), -9rem -14rem var(--black), 
    -8rem -14rem var(--black), -7rem -14rem var(--black), 
    -6rem -14rem var(--black), -5rem -14rem var(--black), 
    -4rem -14rem var(--black), -3rem -14rem var(--black), 
    -2rem -14rem var(--skin), -1rem -14rem var(--black), 
    0rem -14rem var(--black), 1rem -14rem var(--black), 
    2rem -14rem var(--black), 3rem -14rem var(--black), 
    4rem -14rem var(--black), 5rem -14rem var(--black), 
    6rem -14rem var(--black), 7rem -14rem var(--background), 
    8rem -14rem var(--background), 9rem -14rem var(--background), 
    10rem -14rem var(--background), 11rem -14rem var(--background), 
    12rem -14rem var(--background), 13rem -14rem var(--background), 
    14rem -14rem var(--background), 15rem -14rem var(--background), 
    16rem -14rem var(--background), 17rem -14rem var(--background),

    -17rem -13rem var(--background), -16rem -13rem var(--background),
    -15rem -13rem var(--background), -14rem -13rem var(--background),
    -13rem -13rem var(--background), -12rem -13rem var(--background),
    -12rem -13rem var(--background), -11rem -13rem var(--background),
    -10rem -13rem var(--black), -9rem -13rem var(--black),
    -8rem -13rem var(--black), -7rem -13rem var(--black),
    -6rem -13rem var(--black), -5rem -13rem var(--black),
    -4rem -13rem var(--black), -3rem -13rem var(--black),
    -2rem -13rem var(--skin), -1rem -13rem var(--skin),
    0rem -13rem var(--black), 1rem -13rem var(--black),
    2rem -13rem var(--black), 3rem -13rem var(--black),
    4rem -13rem var(--black), 5rem -13rem var(--black),
    6rem -13rem var(--black), 7rem -13rem var(--black),
    8rem -13rem var(--black), 9rem -13rem var(--background),
    10rem -13rem var(--background), 11rem -13rem var(--background),
    12rem -13rem var(--background), 13rem -13rem var(--background),
    14rem -13rem var(--background), 15rem -13rem var(--background),
    16rem -13rem var(--background), 17rem -13rem var(--background),
    
    -17rem -12rem var(--background), -16rem -12rem var(--background),
    -15rem -12rem var(--background), -14rem -12rem var(--background),
    -13rem -12rem var(--background), -12rem -12rem var(--background),
    -11rem -12rem var(--background), -10rem -12rem var(--background), 
    -9rem -12rem var(--black), -8rem -12rem var(--black),
    -7rem -12rem var(--black), -6rem -12rem var(--black),
    -5rem -12rem var(--black), -4rem -12rem var(--black), 
    -3rem -12rem var(--black), -2rem -12rem var(--skin), 
    -1rem -12rem var(--skin), 0rem -12rem var(--skin), 
    1rem -12rem var(--black), 2rem -12rem var(--black), 
    3rem -12rem var(--black), 4rem -12rem var(--black), 
    5rem -12rem var(--black), 6rem -12rem var(--black), 
    7rem -12rem var(--black), 8rem -12rem var(--black),
    9rem -12rem var(--black), 10rem -12rem var(--background),
    11rem -12rem var(--background), 12rem -12rem var(--background),
    13rem -12rem var(--background),  14rem -12rem var(--background),
    15rem -12rem var(--background), 16rem -12rem var(--background),
    17rem -12rem var(--background),

    -17rem -11rem var(--background), -16rem -11rem var(--background),
    -15rem -11rem var(--background), -14rem -11rem var(--background),
    -13rem -11rem var(--background), -12rem -11rem var(--background),
    -11rem -11rem var(--background), -10rem -11rem var(--black), 
    -9rem -11rem var(--black), -8rem -11rem var(--black),
    -7rem -11rem var(--black), -6rem -11rem var(--black),
    -5rem -11rem var(--black), -4rem -11rem var(--black), 
    -3rem -11rem var(--black), -2rem -11rem var(--black), 
    -1rem -11rem var(--skin), 0rem -11rem var(--skin), 
    1rem -11rem var(--skin), 2rem -11rem var(--black), 
    3rem -11rem var(--green), 4rem -11rem var(--green), 
    5rem -11rem var(--black), 6rem -11rem var(--white), 
    7rem -11rem var(--white), 8rem -11rem var(--white),
    9rem -11rem var(--black), 10rem -11rem var(--background),
    11rem -11rem var(--background), 12rem -11rem var(--background),
    13rem -11rem var(--background),  14rem -11rem var(--background),
    15rem -11rem var(--background), 16rem -11rem var(--background),
    17rem -11rem var(--background),

    -17rem -10rem var(--background), -16rem -10rem var(--background),
    -15rem -10rem var(--background), -14rem -10rem var(--background),
    -13rem -10rem var(--background), -12rem -10rem var(--background),
    -11rem -10rem var(--black), -10rem -10rem var(--black), 
    -9rem -10rem var(--black), -8rem -10rem var(--black),
    -7rem -10rem var(--black), -6rem -10rem var(--black),
    -5rem -10rem var(--black), -4rem -10rem var(--black), 
    -3rem -10rem var(--black), -2rem -10rem var(--black), 
    -1rem -10rem var(--skin), 0rem -10rem var(--skin), 
    1rem -10rem var(--skin), 2rem -10rem var(--skin), 
    3rem -10rem var(--green), 4rem -10rem var(--green), 
    5rem -10rem var(--black), 6rem -10rem var(--white), 
    7rem -10rem var(--white), 8rem -10rem var(--white),
    9rem -10rem var(--black), 10rem -10rem var(--background),
    11rem -10rem var(--background), 12rem -10rem var(--background),
    13rem -10rem var(--background),  14rem -10rem var(--background),
    15rem -10rem var(--background), 16rem -10rem var(--background),
    17rem -10rem var(--background),

    -17rem -9rem var(--background), -16rem -9rem var(--background),
    -15rem -9rem var(--background), -14rem -9rem var(--background),
    -13rem -9rem var(--background), -12rem -9rem var(--black),
    -11rem -9rem var(--black), -10rem -9rem var(--black), 
    -9rem -9rem var(--black), -8rem -9rem var(--black),
    -7rem -9rem var(--black), -6rem -9rem var(--black),
    -5rem -9rem var(--black), -4rem -9rem var(--black), 
    -3rem -9rem var(--white), -2rem -9rem var(--white), 
    -1rem -9rem var(--skin), 0rem -9rem var(--skin), 
    1rem -9rem var(--skin), 2rem -9rem var(--skin), 
    3rem -9rem var(--green), 4rem -9rem var(--green), 
    5rem -9rem var(--black), 6rem -9rem var(--black), 
    7rem -9rem var(--white), 8rem -9rem var(--white),
    9rem -9rem var(--black), 10rem -9rem var(--black),
    11rem -9rem var(--background), 12rem -9rem var(--background),
    13rem -9rem var(--background),  14rem -9rem var(--background),
    15rem -9rem var(--background), 16rem -9rem var(--background),
    17rem -9rem var(--background),

    -17rem -8rem var(--background), -16rem -8rem var(--background),
    -15rem -8rem var(--background), -14rem -8rem var(--background),
    -13rem -8rem var(--background), -12rem -8rem var(--black),
    -11rem -8rem var(--black), -10rem -8rem var(--black), 
    -9rem -8rem var(--black), -8rem -8rem var(--black),
    -7rem -8rem var(--black), -6rem -8rem var(--black),
    -5rem -8rem var(--black), -4rem -8rem var(--white), 
    -3rem -8rem var(--white), -2rem -8rem var(--white), 
    -1rem -8rem var(--white), 0rem -8rem var(--skin), 
    1rem -8rem var(--skin), 2rem -8rem var(--skin), 
    3rem -8rem var(--green), 4rem -8rem var(--green), 
    5rem -8rem var(--black), 6rem -8rem var(--black), 
    7rem -8rem var(--black), 8rem -8rem var(--black),
    9rem -8rem var(--black), 10rem -8em var(--black),
    11rem -8rem var(--background), 12rem -8rem var(--background),
    13rem -8rem var(--black),  14rem -8rem var(--black),
    15rem -8rem var(--background), 16rem -8rem var(--background),
    17rem -8rem var(--background),

    -17rem -7rem var(--background), -16rem -7rem var(--background),
    -15rem -7rem var(--background), -14rem -7rem var(--background),
    -13rem -7rem var(--background), -12rem -7rem var(--black),
    -11rem -7rem var(--black), -10rem -7rem var(--black), 
    -9rem -7rem var(--green), -8rem -7rem var(--green),
    -7rem -7rem var(--black), -6rem -7rem var(--black),
    -5rem -7rem var(--black), -4rem -7rem var(--white), 
    -3rem -7rem var(--white), -2rem -7rem var(--white), 
    -1rem -7rem var(--white), 0rem -7rem var(--skin), 
    1rem -7rem var(--skin), 2rem -7rem var(--skin), 
    3rem -7rem var(--green), 4rem -7rem var(--green), 
    5rem -7rem var(--green), 6rem -7rem var(--black), 
    7rem -7rem var(--black), 8rem -7rem var(--black),
    9rem -7rem var(--black), 10rem -7rem var(--black),
    11rem -7rem var(--background), 12rem -7rem var(--background),
    13rem -7rem var(--black),  14rem -7rem var(--background),
    15rem -7rem var(--background), 16rem -7rem var(--background),
    17rem -7rem var(--background),

    -17rem -6rem var(--background), -16rem -6rem var(--background),
    -15rem -6rem var(--background), -14rem -6rem var(--background),
    -13rem -6rem var(--black), -12rem -6rem var(--black),
    -11rem -6rem var(--black), -10rem -6rem var(--green), 
    -9rem -6rem var(--green), -8rem -6rem var(--green),
    -7rem -6rem var(--black), -6rem -6rem var(--black),
    -5rem -6rem var(--black), -4rem -6rem var(--black), 
    -3rem -6rem var(--white), -2rem -6rem var(--white), 
    -1rem -6rem var(--white), 0rem -6rem var(--skin), 
    1rem -6rem var(--skin), 2rem -6rem var(--skin), 
    3rem -6rem var(--skin), 4rem -6rem var(--green), 
    5rem -6rem var(--green), 6rem -6rem var(--green), 
    7rem -6rem var(--green), 8rem -6rem var(--green),
    9rem -6rem var(--green), 10rem -6rem var(--black),
    11rem -6rem var(--black), 12rem -6rem var(--black),
    13rem -6rem var(--background),  14rem -6rem var(--background),
    15rem -6rem var(--background), 16rem -6rem var(--background),
    17rem -6rem var(--background),

    -17rem -5rem var(--background), -16rem -5rem var(--background),
    -15rem -5rem var(--background), -14rem -5rem var(--background),
    -13rem -5rem var(--black), -12rem -5rem var(--white),
    -11rem -5rem var(--white), -10rem -5rem var(--green), 
    -9rem -5rem var(--green), -8rem -5rem var(--green),
    -7rem -5rem var(--black), -6rem -5rem var(--black),
    -5rem -5rem var(--black), -4rem -5rem var(--black), 
    -3rem -5rem var(--black), -2rem -5rem var(--black), 
    -1rem -5rem var(--black), 0rem -5rem var(--skin), 
    1rem -5rem var(--skin), 2rem -5rem var(--skin), 
    3rem -5rem var(--skin), 4rem -5rem var(--skin), 
    5rem -5rem var(--green), 6rem -5rem var(--green), 
    7rem -5rem var(--green), 8rem -5rem var(--green),
    9rem -5rem var(--green), 10rem -5em var(--black),
    11rem -5rem var(--green), 12rem -5rem var(--green),
    13rem -5rem var(--black),  14rem -5rem var(--background),
    15rem -5rem var(--background), 16rem -5rem var(--background),
    17rem -5rem var(--background),

    -17rem -4rem var(--background), -16rem -4rem var(--background),
    -15rem -4rem var(--background), -14rem -4rem var(--background),
    -13rem -4rem var(--black), -12rem -4rem var(--white),
    -11rem -4rem var(--white), -10rem -4rem var(--green), 
    -9rem -4rem var(--green), -8rem -4rem var(--green),
    -7rem -4rem var(--black), -6rem -4rem var(--black),
    -5rem -4rem var(--black), -4rem -4rem var(--black), 
    -3rem -4rem var(--black), -2rem -4rem var(--black), 
    -1rem -4rem var(--black), 0rem -4rem var(--skin), 
    1rem -4rem var(--skin), 2rem -4rem var(--skin), 
    3rem -4rem var(--skin), 4rem -4rem var(--skin), 
    5rem -4rem var(--skin), 6rem -4rem var(--green), 
    7rem -4rem var(--green), 8rem -4rem var(--green),
    9rem -4rem var(--black), 10rem -4em var(--black),
    11rem -4rem var(--green), 12rem -4rem var(--green),
    13rem -4rem var(--black),  14rem -4rem var(--background),
    15rem -4rem var(--background), 16rem -4rem var(--background),
    17rem -4rem var(--background),

    -17rem -3rem var(--background), -16rem -3rem var(--background),
    -15rem -3rem var(--background), -14rem -3rem var(--background),
    -13rem -3rem var(--black), -12rem -3rem var(--white),
    -11rem -3rem var(--white), -10rem -3rem var(--green), 
    -9rem -3rem var(--green), -8rem -3rem var(--green),
    -7rem -3rem var(--green), -6rem -3rem var(--black),
    -5rem -3rem var(--black), -4rem -3rem var(--black), 
    -3rem -3rem var(--black), -2rem -3rem var(--black), 
    -1rem -3rem var(--black), 0rem -3rem var(--skin), 
    1rem -3rem var(--skin), 2rem -3rem var(--skin), 
    3rem -3rem var(--skin), 4rem -3rem var(--skin), 
    5rem -3rem var(--skin), 6rem -3rem var(--skin), 
    7rem -3rem var(--skin), 8rem -3rem var(--skin),
    9rem -3rem var(--black), 10rem -3em var(--green),
    11rem -3rem var(--black), 12rem -3rem var(--green),
    13rem -3rem var(--black),  14rem -3rem var(--background),
    15rem -3rem var(--background), 16rem -3rem var(--background),
    17rem -3rem var(--background),

    -17rem -2rem var(--background), -16rem -2rem var(--background),
    -15rem -2rem var(--background), -14rem -2rem var(--background),
    -13rem -2rem var(--black), -12rem -2rem var(--white),
    -11rem -2rem var(--white), -10rem -2rem var(--green), 
    -9rem -2rem var(--green), -8rem -2rem var(--green),
    -7rem -2rem var(--green), -6rem -2rem var(--green),
    -5rem -2rem var(--black), -4rem -2rem var(--black), 
    -3rem -2rem var(--black), -2rem -2rem var(--black), 
    -1rem -2rem var(--black), 0rem -2rem var(--skin), 
    1rem -2rem var(--skin), 2rem -2rem var(--skin), 
    3rem -2rem var(--skin), 4rem -2rem var(--skin), 
    5rem -2rem var(--skin), 6rem -2rem var(--skin), 
    7rem -2rem var(--skin), 8rem -2rem var(--skin),
    9rem -2rem var(--black), 10rem -2rem var(--black),
    11rem -2rem var(--green), 12rem -2rem var(--black),
    13rem -2rem var(--black),  14rem -2rem var(--background),
    15rem -2rem var(--background), 16rem -2rem var(--background),
    17rem -2rem var(--background),

    -17rem -1rem var(--background), -16rem -1rem var(--background),
    -15rem -1rem var(--background), -14rem -1rem var(--background),
    -13rem -1rem var(--background), -12rem -1rem var(--black),
    -11rem -1rem var(--white), -10rem -1rem var(--white), 
    -9rem -1rem var(--green), -8rem -1rem var(--green),
    -7rem -1rem var(--green), -6rem -1rem var(--green),
    -5rem -1rem var(--green), -4rem -1rem var(--green), 
    -3rem -1rem var(--green), -2rem -1rem var(--green), 
    -1rem -1rem var(--skin), 0rem -1rem var(--skin), 
    1rem -1rem var(--skin), 2rem -1rem var(--salmon), 
    3rem -1rem var(--salmon), 4rem -1rem var(--salmon), 
    5rem -1rem var(--skin), 6rem -1rem var(--skin), 
    7rem -1rem var(--skin), 8rem -1rem var(--black),
    9rem -1rem var(--green), 10rem -1rem var(--green),
    11rem -1rem var(--black), 12rem -1rem var(--green),
    13rem -1rem var(--black),  14rem -1rem var(--background),
    15rem -1rem var(--background), 16rem -1rem var(--background),
    17rem -1rem var(--background),

    -17rem 0rem var(--background), -16rem 0rem var(--background),
    -15rem 0rem var(--background), -14rem 0rem var(--background),
    -13rem 0rem var(--background), -12rem 0rem var(--black),
    -11rem 0rem var(--white), -10rem 0rem var(--white), 
    -9rem 0rem var(--white), -8rem 0rem var(--green),
    -7rem 0rem var(--green), -6rem 0rem var(--green),
    -5rem 0rem var(--green), -4rem 0rem var(--green), 
    -3rem 0rem var(--green), -2rem 0rem var(--green), 
    -1rem 0rem var(--skin), 0rem 0rem var(--skin), 
    1rem 0rem var(--salmon), 2rem 0rem var(--black), 
    3rem 0rem var(--black), 4rem 0rem var(--salmon), 
    5rem 0rem var(--skin), 6rem 0rem var(--skin), 
    7rem 0rem var(--skin), 8rem 0rem var(--black),
    9rem 0rem var(--green), 10rem 0rem var(--green),
    11rem 0rem var(--green), 12rem 0rem var(--black),
    13rem 0rem var(--background),  14rem 0rem var(--background),
    15rem 0rem var(--background), 16rem 0rem var(--background),
    17rem 0rem var(--background),

    -17rem 1rem var(--background), -16rem 1rem var(--background),
    -15rem 1rem var(--background), -14rem 1rem var(--background),
    -13rem 1rem var(--background), -12rem 1rem var(--black),
    -11rem 1rem var(--black), -10rem 1rem var(--white), 
    -9rem 1rem var(--white), -8rem 1rem var(--white),
    -7rem 1rem var(--white), -6rem 1rem var(--green),
    -5rem 1rem var(--green), -4rem 1rem var(--green), 
    -3rem 1rem var(--green), -2rem 1rem var(--skin), 
    -1rem 1rem var(--skin), 0rem 1rem var(--skin), 
    1rem 1rem var(--salmon), 2rem 1rem var(--red), 
    3rem 1rem var(--black), 4rem 1rem var(--salmon), 
    5rem 1rem var(--skin), 6rem 1rem var(--skin), 
    7rem 1rem var(--black), 8rem 1rem var(--green),
    9rem 1rem var(--green), 10rem 1rem var(--green),
    11rem 1rem var(--black), 12rem 1rem var(--background),
    13rem 1rem var(--background),  14rem 1rem var(--background),
    15rem 1rem var(--background), 16rem 1rem var(--background),
    17rem 1rem var(--background),

    -17rem 2rem var(--background), -16rem 2rem var(--background),
    -15rem 2rem var(--background), -14rem 2rem var(--background),
    -13rem 2rem var(--background), -12rem 2rem var(--black),
    -11rem 2rem var(--black), -10rem 2rem var(--black),
    -9rem 2rem var(--white), -8rem 2rem var(--white),
    -7rem 2rem var(--white), -6rem 2rem var(--green),
    -5rem 2rem var(--green), -4rem 2rem var(--skin),
    -3rem 2rem var(--skin), -2rem 2rem var(--skin),
    -1rem 2rem var(--skin), 0rem 2rem var(--skin),
    1rem 2rem var(--salmon), 2rem 2rem var(--salmon),
    3rem 2rem var(--salmon), 4rem 2rem var(--skin),
    5rem 2rem var(--skin), 6rem 2rem var(--black),
    7rem 2rem var(--green), 8rem 2rem var(--green),
    9rem 2rem var(--green), 10rem 2rem var(--green),
    11rem 2rem var(--black), 12rem 2rem var(--background),
    13rem 2rem var(--background), 14rem 2rem var(--background),
    15rem 2rem var(--background), 16rem 2rem var(--background), 
    17rem 2rem var(--background),

    -17rem 3rem var(--background), -16rem 3rem var(--background),
    -15rem 3rem var(--background), -14rem 3rem var(--black),
    -13rem 3rem var(--background), -12rem 3rem var(--black),
    -11rem 3rem var(--black), -10rem 3rem var(--black),
    -9rem 3rem var(--black), -8rem 3rem var(--skin),
    -7rem 3rem var(--skin), -6rem 3rem var(--skin),
    -5rem 3rem var(--skin), -4rem 3rem var(--skin),
    -3rem 3rem var(--skin), -2rem 3rem var(--skin),
    -1rem 3rem var(--skin), 0rem 3rem var(--skin),
    1rem 3rem var(--skin), 2rem 3rem var(--skin),
    3rem 3rem var(--skin), 4rem 3rem var(--black),
    5rem 3rem var(--black), 6rem 3rem var(--green),
    7rem 3rem var(--green), 8rem 3rem var(--green),
    9rem 3rem var(--green), 10rem 3rem var(--black),
    11rem 3rem var(--background), 12rem 3rem var(--background),
    13rem 3rem var(--background), 14rem 3rem var(--background),
    15rem 3rem var(--background), 16rem 3rem var(--background), 
    17rem 3rem var(--background),

    -17rem 4rem var(--background), -16rem 4rem var(--background),
    -15rem 4rem var(--background), -14rem 4rem var(--black),
    -13rem 4rem var(--black), -12rem 4rem var(--black),
    -11rem 4rem var(--black), -10rem 4rem var(--black),
    -9rem 4rem var(--black), -8rem 4rem var(--black),
    -7rem 4rem var(--skin), -6rem 4rem var(--skin),
    -5rem 4rem var(--skin), -4rem 4rem var(--skin),
    -3rem 4rem var(--skin), -2rem 4rem var(--skin),
    -1rem 4rem var(--skin), 0rem 4rem var(--skin),
    1rem 4rem var(--skin), 2rem 4rem var(--skin),
    3rem 4rem var(--black), 4rem 4rem var(--black),
    5rem 4rem var(--green), 6rem 4rem var(--green),
    7rem 4rem var(--green), 8rem 4rem var(--green),
    9rem 4rem var(--black), 10rem 4rem var(--background),
    11rem 4rem var(--background), 12rem 4rem var(--background),
    13rem 4rem var(--background), 14rem 4rem var(--background),
    15rem 4rem var(--background), 16rem 4rem var(--background),
    17rem 4rem var(--background),

    -17rem 5rem var(--background), -16rem 5rem var(--background),
    -15rem 5rem var(--background), -14rem 5rem var(--background),
    -13rem 5rem var(--black), -12rem 5rem var(--black),
    -11rem 5rem var(--black), -10rem 5rem var(--black),
    -9rem 5rem var(--black), -8rem 5rem var(--black),
    -7rem 5rem var(--black), -6rem 5rem var(--black),
    -5rem 5rem var(--black), -4rem 5rem var(--black),
    -3rem 5rem var(--black), -2rem 5rem var(--skin),
    -1rem 5rem var(--skin), 0rem 5rem var(--skin),
    1rem 5rem var(--black), 2rem 5rem var(--black),
    3rem 5rem var(--black), 4rem 5rem var(--black),
    5rem 5rem var(--black), 6rem 5rem var(--black),
    7rem 5rem var(--black), 8rem 5rem var(--black),
    9rem 5rem var(--black), 10rem 5rem var(--black),
    11rem 5rem var(--background), 12rem 5rem var(--background),
    13rem 5rem var(--background), 14rem 5rem var(--background),
    15rem 5rem var(--background), 16rem 5rem var(--background), 
    17rem 5rem var(--background),

    -17rem 6rem var(--background), -16rem 6rem var(--background),
    -15rem 6rem var(--background), -14rem 6rem var(--background),
    -13rem 6rem var(--background), -12rem 6rem var(--black),
    -11rem 6rem var(--black), -10rem 6rem var(--black),
    -9rem 6rem var(--black), -8rem 6rem var(--black),
    -7rem 6rem var(--black), -6rem 6rem var(--black),
    -5rem 6rem var(--green-dark), -4rem 6rem var(--green-dark),
    -3rem 6rem var(--green-dark), -2rem 6rem var(--skin),
    -1rem 6rem var(--skin), 0rem 6rem var(--skin),
    1rem 6rem var(--green-dark), 2rem 6rem var(--green-dark),
    3rem 6rem var(--green-dark), 4rem 6rem var(--black),
    5rem 6rem var(--black), 6rem 6rem var(--black),
    7rem 6rem var(--skin), 8rem 6rem var(--skin),
    9rem 6rem var(--skin), 10rem 6rem var(--black),
    11rem 6rem var(--background), 12rem 6rem var(--background),
    13rem 6rem var(--background), 14rem 6rem var(--background),
    15rem 6rem var(--background), 16rem 6rem var(--background),
    17rem 6rem var(--background),

    -17rem 7rem var(--background), -16rem 7rem var(--background),
    -15rem 7rem var(--background), -14rem 7rem var(--background),
    -13rem 7rem var(--background), -12rem 7rem var(--background),
    -11rem 7rem var(--black), -10rem 7rem var(--black),
    -9rem 7rem var(--black), -8rem 7rem var(--black),
    -7rem 7rem var(--black), -6rem 7rem var(--green-dark),
    -5rem 7rem var(--green-dark), -4rem 7rem var(--green-dark),
    -3rem 7rem var(--green-dark), -2rem 7rem var(--green),
    -1rem 7rem var(--green), 0rem 7rem var(--green),
    1rem 7rem var(--green-dark), 2rem 7rem var(--green-dark),
    3rem 7rem var(--green-dark), 4rem 7rem var(--skin),
    5rem 7rem var(--skin), 6rem 7rem var(--skin),
    7rem 7rem var(--skin), 8rem 7rem var(--skin),
    9rem 7rem var(--black), 10rem 7rem var(--background),
    11rem 7rem var(--background), 12rem 7rem var(--background),
    13rem 7rem var(--background), 14rem 7rem var(--background),
    15rem 7rem var(--background), 16rem 7rem var(--background),
    17rem 7rem var(--background),

    -17rem 8rem var(--background), -16rem 8rem var(--background),
    -15rem 8rem var(--background), -14rem 8rem var(--background),
    -13rem 8rem var(--background), -12rem 8rem var(--background),
    -11rem 8rem var(--background), -10rem 8rem var(--black),
    -9rem 8rem var(--black), -8rem 8rem var(--black),
    -7rem 8rem var(--black), -6rem 8rem var(--skin),
    -5rem 8rem var(--green-dark), -4rem 8rem var(--green-dark),
    -3rem 8rem var(--green-dark), -2rem 8rem var(--green),
    -1rem 8rem var(--green), 0rem 8rem var(--red), 
    1rem 8rem var(--green), 2rem 8rem var(--green-dark),
    3rem 8rem var(--green-dark), 4rem 8rem var(--skin),
    5rem 8rem var(--skin), 6rem 8rem var(--skin),
    7rem 8rem var(--skin), 8rem 8rem var(--skin),
    9rem 8rem var(--black), 10rem 8rem var(--background),
    11rem 8rem var(--background), 12rem 8rem var(--background),
    13rem 8rem var(--background), 14rem 8rem var(--background),
    15rem 8rem var(--background), 16rem 8rem var(--background),
    17rem 8rem var(--background),

    -17rem 9rem var(--background), -16rem 9rem var(--background),
    -15rem 9rem var(--background), -14rem 9rem var(--background),
    -13rem 9rem var(--background), -12rem 9rem var(--background),
    -11rem 9rem var(--background), -10rem 9rem var(--background),
    -9rem 9rem var(--black), -8rem 9rem var(--black),
    -7rem 9rem var(--skin), -6rem 9rem var(--skin),
    -5rem 9rem var(--skin), -4rem 9rem var(--green-dark),
    -3rem 9rem var(--black), -2rem 9rem var(--green),
    -1rem 9rem var(--red), 0rem 9rem var(--green),
    1rem 9rem var(--red), 2rem 9rem var(--green),
    3rem 9rem var(--black), 4rem 9rem var(--skin),
    5rem 9rem var(--skin), 6rem 9rem var(--skin),
    7rem 9rem var(--skin), 8rem 9rem var(--black),
    9rem 9rem var(--background), 10rem 9rem var(--background),
    11rem 9rem var(--background), 12rem 9rem var(--background),
    13rem 9rem var(--background), 14rem 9rem var(--background),
    15rem 9rem var(--background), 16rem 9rem var(--background),
    17rem 9rem var(--background),

    -17rem 10rem var(--background), -16rem 10rem var(--background),
    -15rem 10rem var(--background), -14rem 10rem var(--background),
    -13rem 10rem var(--background), -12rem 10rem var(--background),
    -11rem 10rem var(--background), -10rem 10rem var(--background),
    -9rem 10rem var(--background), -8rem 10rem var(--black),
    -7rem 10rem var(--skin), -6rem 10rem var(--skin),
    -5rem 10rem var(--skin), -4rem 10rem var(--skin),
    -3rem 10rem var(--black), -2rem 10rem var(--green),
    -1rem 10rem var(--green), 0rem 10rem var(--green),
    1rem 10rem var(--red), 2rem 10rem var(--green),
    3rem 10rem var(--black), 4rem 10rem var(--black),
    5rem 10rem var(--black), 6rem 10rem var(--black),
    7rem 10rem var(--black), 8rem 10rem var(--black),
    9rem 10rem var(--background), 10rem 10rem var(--background),
    11rem 10rem var(--background), 12rem 10rem var(--background),
    13rem 10rem var(--background), 14rem 10rem var(--background),
    15rem 10rem var(--background), 16rem 10rem var(--background),
    17rem 10rem var(--background),

    -17rem 11rem var(--background), -16rem 11rem var(--background),
    -15rem 11rem var(--background), -14rem 11rem var(--background),
    -13rem 11rem var(--background), -12rem 11rem var(--background),
    -11rem 11rem var(--background), -10rem 11rem var(--background),
    -9rem 11rem var(--background), -8rem 11rem var(--black), 
    -7rem 11rem var(--skin), -6rem 11rem var(--skin),
    -5rem 11rem var(--skin), -4rem 11rem var(--skin),
    -3rem 11rem var(--skin), -2rem 11rem var(--black),
    -1rem 11rem var(--green), 0rem 11rem var(--green),
    1rem 11rem var(--green), 2rem 11rem var(--green),
    3rem 11rem var(--green), 4rem 11rem var(--black),
    5rem 11rem var(--background), 6rem 11rem var(--background),
    7rem 11rem var(--background), 8rem 11rem var(--background),
    9rem 11rem var(--background), 10rem 11rem var(--background),
    11rem 11rem var(--background), 12rem 11rem var(--background),
    13rem 11rem var(--background), 14rem 11rem var(--background),
    15rem 11rem var(--background), 16rem 11rem var(--background),
    17rem 11rem var(--background),

    -17rem 12rem var(--background), -16rem 12rem var(--background),
    -15rem 12rem var(--background), -14rem 12rem var(--background),
    -13rem 12rem var(--background), -12rem 12rem var(--background),
    -11rem 12rem var(--background), -10rem 12rem var(--background),
    -9rem 12rem var(--background), -8rem 12rem var(--black),
    -7rem 12rem var(--skin), -6rem 12rem var(--skin),
    -5rem 12rem var(--skin), -4rem 12rem var(--skin),
    -3rem 12rem var(--skin), -2rem 12rem var(--skin),
    -1rem 12rem var(--black), 0rem 12rem var(--green),
    1rem 12rem var(--green), 2rem 12rem var(--skin),
    3rem 12rem var(--skin), 4rem 12rem var(--skin),
    5rem 12rem var(--black), 6rem 12rem var(--background),
    7rem 12rem var(--background), 8rem 12rem var(--background),
    9rem 12rem var(--background), 10rem 12rem var(--background),
    11rem 12rem var(--background), 12rem 12rem var(--background),
    13rem 12rem var(--background), 14rem 12rem var(--background),
    15rem 12rem var(--background), 16rem 12rem var(--background),
    17rem 12rem var(--background),
    
    -17rem 13rem var(--background), -16rem 13rem var(--background),
    -15rem 13rem var(--background), -14rem 13rem var(--background),
    -13rem 13rem var(--background), -12rem 13rem var(--background),
    -11rem 13rem var(--background), -10rem 13rem var(--background),
    -9rem 13rem var(--background), -8rem 13rem var(--black),
    -7rem 13rem var(--black), -6rem 13rem var(--skin),
    -5rem 13rem var(--skin), -4rem 13rem var(--skin),
    -3rem 13rem var(--skin), -2rem 13rem var(--skin),
    -1rem 13rem var(--black), 0rem 13rem var(--skin),
    1rem 13rem var(--skin), 2rem 13rem var(--skin),
    3rem 13rem var(--skin), 4rem 13rem var(--skin),
    5rem 13rem var(--black), 6rem 13rem var(--background),
    7rem 13rem var(--background), 8rem 13rem var(--background),
    9rem 13rem var(--background), 10rem 13rem var(--background),
    11rem 13rem var(--background), 12rem 13rem var(--background),
    13rem 13rem var(--background), 14rem 13rem var(--background),
    15rem 13rem var(--background), 16rem 13rem var(--background),
    17rem 13rem var(--background),

    -17rem 14rem var(--background), -16rem 14rem var(--background),
    -15rem 14rem var(--background), -14rem 14rem var(--background),
    -13rem 14rem var(--background), -12rem 14rem var(--background),
    -11rem 14rem var(--background), -10rem 14rem var(--background),
    -9rem 14rem var(--background), -8rem 14rem var(--background),
    -7rem 14rem var(--background), -6rem 14rem var(--black),
    -5rem 14rem var(--black), -4rem 14rem var(--skin),
    -3rem 14rem var(--skin), -2rem 14rem var(--black),
    -1rem 14rem var(--black), 0rem 14rem var(--skin),
    1rem 14rem var(--skin), 2rem 14rem var(--skin),
    3rem 14rem var(--skin), 4rem 14rem var(--green),
    5rem 14rem var(--green), 6rem 14rem var(--black),
    7rem 14rem var(--background), 8rem 14rem var(--background),
    9rem 14rem var(--background), 10rem 14rem var(--background),
    11rem 14rem var(--background), 12rem 14rem var(--background),
    13rem 14rem var(--background), 14rem 14rem var(--background),
    15rem 14rem var(--background), 16rem 14rem var(--background),
    17rem 14rem var(--background),

  -17rem 15rem var(--background), -16rem 15rem var(--background),
  -15rem 15rem var(--background), -14rem 15rem var(--background),
  -13rem 15rem var(--background), -12rem 15rem var(--background),
  -11rem 15rem var(--background), -10rem 15rem var(--background),
  -9rem 15rem var(--background), -8rem 15rem var(--background),
  -7rem 15rem var(--background), -6rem 15rem var(--background),
  -5rem 15rem var(--black), -4rem 15rem var(--black),
  -3rem 15rem var(--black), -2rem 15rem var(--black),
  -1rem 15rem var(--black), 0rem 15rem var(--skin),
  1rem 15rem var(--skin), 2rem 15rem var(--green),
  3rem 15rem var(--green), 4rem 15rem var(--green),
  5rem 15rem var(--green), 6rem 15rem var(--green),
  7rem 15rem var(--black), 8rem 15rem var(--background),
  9rem 15rem var(--background), 10rem 15rem var(--background),
  11rem 15rem var(--background), 12rem 15rem var(--background),
  13rem 15rem var(--background), 14rem 15rem var(--background),
  15rem 15rem var(--background), 16rem 15rem var(--background),
  17rem 15rem var(--background),

  -17rem 16rem var(--background), -16rem 16rem var(--background),
  -15rem 16rem var(--background), -14rem 16rem var(--background),
  -13rem 16rem var(--background), -12rem 16rem var(--background),
  -11rem 16rem var(--background), -10rem 16rem var(--background),
  -9rem 16rem var(--background), -8rem 16rem var(--background),
  -7rem 16rem var(--background), -6rem 16rem var(--background),
  -5rem 16rem var(--background), -4rem 16rem var(--background),
  -3rem 16rem var(--background), -2rem 16rem var(--background),
  -1rem 16rem var(--background), 0rem 16rem var(--background),
  1rem 16rem var(--background), 2rem 16rem var(--background),
  3rem 16rem var(--background), 4rem 16rem var(--background),
  5rem 16rem var(--background), 6rem 16rem var(--background),
  7rem 16rem var(--background), 8rem 16rem var(--background),
  9rem 16rem var(--background), 10rem 16rem var(--background),
  11rem 16rem var(--background), 12rem 16rem var(--background),
  13rem 16rem var(--background), 14rem 16rem var(--background),
  15rem 16rem var(--background), 16rem 16rem var(--background),
  17rem 16rem var(--background);
  }